{% extends "base.html" %}

{% block title %}Team Directory{% endblock %}

{% block sidebar %}
<ul class="sidebar-menu">
  <li class="header">NAGIVATION</li>
  <!-- Optionally, you can add icons to the links -->
  {% if request.user.is_staff %}
  <li><a href="{% url 'dashboard:dashboard' %}admin/"><i class="fa fa-dashboard"></i> <span>Admin</span></a></li>
  {% endif %}
  <li><a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
  <li class="treeview">
    <a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-bicycle"></i> <span>Fitness</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{% url 'fitness:allRides' %}">Rides</a></li>
      <li><a href="{% url 'fitness:allIncidents' %}">Incidents</a></li>
    </ul>
  </li>
  <li class="treeview active">
    <a href="#"><i class="fa fa-group"></i> <span>Team</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li class="active"><a href="{% url 'team:directory' %}">Directory</a></li>
      <li><a href="{% url 'team:stats' %}">Fitness Stats</a></li>
    </ul>
  </li>
</ul><!-- /.sidebar-menu -->
{% endblock %}

{% block action_title%}Team Directory{% endblock %}
{% block small_action_title %}Use 'CTRL/CMD-F' to search for a teammate{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-group"></i> Team</a></li>
  <li><a href="#"> Directory</a></li>
</ol>
{% endblock %}

{% block content%}
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Teammate</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
            {% for teammate in teammates %}
            {% if teammate.is_rider %}
            <tr>
              <td>{{ teammate.get_full_name }}</td>
              <td>{{ teammate.email }}</td>
              <td>{{ teammate.get_phone }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
{% endblock %}