{% extends "base.html" %}

{% block title %}Log Ride{% endblock %}

{% block css %}
<link rel="stylesheet" href="http://static.t4k.pw/plugins/timepicker/bootstrap-timepicker.min.css">
<link rel="stylesheet" href="http://static.t4k.pw/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="http://static.t4k.pw/plugins/select2/select2.min.css">
{% endblock %}

{% block sidebar %}
<ul class="sidebar-menu">
  <li class="header">NAGIVATION</li>
  <!-- Optionally, you can add icons to the links -->
  <li><a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
  <li class="treeview active">
    <a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-bicycle"></i> <span>Fitness</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li class="active"><a href="{% url 'fitness:allRides' %}">Rides</a></li>
      <li><a href="{% url 'fitness:allIncidents' %}">Incidents</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-group"></i> <span>Team</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{% url 'team:directory' %}">Directory</a></li>
      <li><a href="{% url 'team:stats' %}">Fitness Stats</a></li>
    </ul>
  </li>
</ul><!-- /.sidebar-menu -->
{% endblock %}

{% block action_title%}Log a Ride{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-bicycle"></i> Fitness</a></li>
  <li><a href="#"> Rides</a></li>
</ol>
{% endblock %}

{% block content %}
{% if alert_title %}
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-warning"></i> {{ alert_title }}</h4>
        {{ alert_message }}
      </div>
    </div>
  </div>
{% endif %}


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="box box-primary">
        <form role="form" action="{% url 'fitness:logRide' %}" method="post">
        {% csrf_token %}
          <div class="box-body">
            <div class="form-group">
              <label for="data">Date</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right active" id="rideDate" name="rideDate">
              </div>
            </div>
            <div class="form-group">
              <label>Ride Group</label>
              <select id="rideGroup" name="rideGroup[]" class="form-control select2" multiple="multiple" data-placeholder="Start typing a name" style="width: 100%;">
                <option value="Aatiq Ghulam">Aatiq Ghulam</option>
                <option value="Andrew Coulter">Andrew Coulter</option>
                <option value="Andrea Garcia-Jimenez">Andrea Garcia-Jimenez</option>
                <option value="Alexandria Lawrence">Alexandria Lawrence</option>
                <option value="Amberlee Adams">Amberlee Adams</option>
                <option value="Annie Biondi">Annie Biondi</option>
                <option value="Annie Henson">Annie Henson</option>
                <option value="Michael Rodney">Michael Rodney</option>
                <option value="Arin Madera">Arin Madera</option>
                <option value="Ayesha Kang">Ayesha Kang</option>
                <option value="Ben Deschner">Ben Deschner</option>
                <option value="Brook Chambers">Brook Chambers</option>
                <option value="Christy Goldberg">Christy Goldberg</option>
                <option value="Courtney Koepke">Courtney Koepke</option>
                <option value="Cullen Bounds">Cullen Bounds</option>
                <option value="Dana Moore">Dana Moore</option>
                <option value="Elizabeth Knoble">Elizabeth Knoble</option>
                <option value="Ellen Thanheiser">Ellen Thanheiser</option>
                <option value="Francisco Dominguez">Francisco Dominguez</option>
                <option value="Fred Tally-Foos">Fred Tally-Foos</option>
                <option value="Fariha Hossain">Fariha Hossain</option>
                <option value="John Flynn">John Flynn</option>
                <option value="Gabe Oxford">Gabe Oxford</option>
                <option value="Geena May">Geena May</option>
                <option value="Geetika Rao">Geetika Rao</option>
                <option value="Genaro DeLeon">Genaro DeLeon</option>
                <option value="Helen Tang">Helen Tang</option>
                <option value="Holly Jones">Holly Jones</option>
                <option value="Holly Swaldi">Holly Swaldi</option>
                <option value="Imran Zafar">Imran Zafar</option>
                <option value="Jacob Lozano">Jacob Lozano</option>
                <option value="Jeffery Saeling">Jeffery Saeling</option>
                <option value="Jennifer Henderson">Jennifer Henderson</option>
                <option value="Josh Holtkort">Josh Holtkort</option>
                <option value="Jose Talavera">Jose Talavera</option>
                <option value="Joshua Bower">Joshua Bower</option>
                <option value="Kayla Leonard">Kayla Leonard</option>
                <option value="Khoi Le">Khoi Le</option>
                <option value="Kim Doughty">Kim Doughty</option>
                <option value="Kristen Stanley">Kristen Stanley</option>
                <option value="Kyle Campbell">Kyle Campbell</option>
                <option value="Larissa Puente">Larissa Puente</option>
                <option value="Laura Elizondo">Laura Elizondo</option>
                <option value="Luciano Posada">Luciano Posada</option>
                <option value="Madhushree Zope">Madhushree Zope</option>
                <option value="Maggie Jackson">Maggie Jackson</option>
                <option value="Mary McKenna">Mary McKenna</option>
                <option value="Melissa Miller">Melissa Miller</option>
                <option value="Melissa Meyer">Melissa Meyer</option>
                <option value="Mackenzie White">Mackenzie White</option>
                <option value="Matthew Schneider">Matthew Schneider</option>
                <option value="Michael Tatalovich">Michael Tatalovich</option>
                <option value="Nathaniel Barley">Nathaniel Barley</option>
                <option value="Neal Talukdar">Neal Talukdar</option>
                <option value="Nate Roberts">Nate Roberts</option>
                <option value="Nicole Lohrstorfer">Nicole Lohrstorfer</option>
                <option value="Niket Parikh">Niket Parikh</option>
                <option value="Olivia Berkeley">Olivia Berkeley</option>
                <option value="Olivia Arena">Olivia Arena</option>
                <option value="Oliver Noble">Oliver Noble</option>
                <option value="Parysa Ghanimi">Parysa Ghanimi</option>
                <option value="Patrick Golden">Patrick Golden</option>
                <option value="Samantha Meyer">Samantha Meyer</option>
                <option value="Sarah Alpert">Sarah Alpert</option>
                <option value="Sarah Qureshy">Sarah Qureshy</option>
                <option value="Kristan Schiele">Kristan Schiele</option>
                <option value="Shannon Lu">Shannon Lu</option>
                <option value="Shantanu Banerjee">Shantanu Banerjee</option>
                <option value="Shawn Killian">Shawn Killian</option>
                <option value="Shelby Schreiber">Shelby Schreiber</option>
                <option value="Sirena Gutierrez">Sirena Gutierrez</option>
                <option value="Stephen Proler">Stephen Proler</option>
                <option value="Tessa Matus">Tessa Matus</option>
                <option value="Victoria Salinas">Victoria Salinas</option>
                <option value="Baylor Morrison">Baylor Morrison</option>
                <option value="Alumni">Alumni</option>
              </select>
            </div><!-- /.form-group -->
            <div class="form-group">
              <label for="data">Miles Ridden</label>
              <input type="text" class="form-control" id="rideMiles" name="rideMiles" required>
            </div>
            <div class="form-group">
              <label for="data">Pace</label>
              <input type="text" class="form-control" id="ridePace" name="ridePace" required>
            </div>
            <div class="form-group">
              <label for="data">Time Ridden</label>
              <input type="text" class="form-control" id="rideTime" name="rideTime" required>
            </div>
            <div class="form-group">
              <label for="data">Comments</label>
              <textarea class="form-control" rows="4" id="rideComments" name="rideComments" required></textarea>
            </div>
          </div>
          <div class="box-footer">
            <button class="btn btn-primary" type="submit">Log Ride</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script src="http://static.t4k.pw/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="http://static.t4k.pw/plugins/select2/select2.full.min.js"></script>
<script src="http://static.t4k.pw/dist/css/jquery.maskedinput.min.js"></script>
<script>
  $('#rideGroup').select2();

  $('#rideDate').datepicker({
    format: "yyyy-mm-dd",
    todayHighlight: true,
    startDate: '-7d',
    endDate: '0d'
  });

  $("#rideTime").mask("99:99:99");
</script>
{% endblock %}