{% extends "base.html" %}

{% block title %}View My Rides{% endblock %}

{% block sidebar %}
<ul class="sidebar-menu">
  <li class="header">NAGIVATION</li>
  <!-- Optionally, you can add icons to the links -->
  {% if request.user.is_staff %}
  <li><a href="{% url 'dashboard:dashboard' %}admin/"><i class="fa fa-dashboard"></i> <span>Admin</span></a></li>
  {% endif %}
  <li><a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
  <li class="treeview active">
    <a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-bicycle"></i> <span>Fitness</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li class="active"><a href="{% url 'fitness:allRides' %}">Rides</a></li>
      <li><a href="{% url 'fitness:allIncidents' %}">Incidents</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-group"></i> <span>Team</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{% url 'team:directory' %}">Directory</a></li>
      <li><a href="{% url 'team:stats' %}">Fitness Stats</a></li>
    </ul>
  </li>
</ul><!-- /.sidebar-menu -->
{% endblock %}

{% block action_title%}My Rides{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-bicycle"></i> Fitness</a></li>
  <li><a href="#"> Rides</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Ride Log</h3>
        <div class="box-tools pull-right">
          <span><a href="{% url 'fitness:logRide' %}"><button type="button" class="btn btn-sm btn-primary">Log a Ride</button></a></span>
        </div>
      </div>
      {% if rides %}
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Date</th>
              <th>Group</th>
              <th>Time</th>
              <th>Pace (m/h)</th>
              <th>Miles</th>
            </tr>
          {% for ride in rides %}
            <tr>
              <td>{{ ride.date }}</td>
              <td>{{ ride.group_members }}</td>
              <td>{{ ride.duration }}</td>
              <td>{{ ride.pace }}</td>
              <td>{{ ride.miles }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}