{% extends "base.html" %}

{% block title %}View Incident Details{% endblock %}

{% block sidebar %}
<ul class="sidebar-menu">
  <li class="header">NAGIVATION</li>
  <!-- Optionally, you can add icons to the links -->
  <li><a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
  <li class="treeview active">
    <a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-bicycle"></i> <span>Fitness</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{% url 'fitness:allRides' %}">Rides</a></li>
      <li class="active"><a href="{% url 'fitness:allIncidents' %}">Incidents</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-group"></i> <span>Team</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{% url 'team:directory' %}">Directory</a></li>
      <li><a href="{% url 'team:stats' %}">Fitness Stats</a></li>
    </ul>
  </li>
</ul><!-- /.sidebar-menu -->
{% endblock %}

{% block action_title%}My Rides{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-bicycle"></i> Fitness</a></li>
  <li><a href="#"> Incidents</a></li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Incident #{{ incident.id }}</h3>
    </div>
    <div class="box-body">
      <b>Reporter's Information</b>
        <div class="span6">Name: {{ incident.member }}</div>
        <div class="span6">Phone: {{ incident.member.phone }}</div>
        <div class="span6">Email: {{ incident.member.email }}</div>
      <br>
       <b>Date and Time of Report</b>
        <div class="span6">{{ incident.date_logged }}</div>
      <br>
       <b>Date and Time of Incident</b>
        <div class="span6">{{ incident.incident_date }}</div>
      <br>
       <b>Location of Incident</b>
        <div class="span6">{{ incident.incident_location }}</div>
      <br>
       <b>Provide full description of all events leading up to and including the incident</b>
        <div class="span6">{{ incident.incident_description }}</div>
      <br>
       <b>Please provide detailed description of surroundings, facility condition, weather condition, etc.</b>
        <div class="span6">{{ incident.surrounding_description }}</div>
      {% if incident.witnesses %}
      <br>
       <b>Witnesses (provide full name, address, and statement)</b>
        <div class="span6">{{ incident.witnesses }}</div>
      {% endif %}
      {% if incident.responders %}
      <br>
       <b>Who responded to the incident? (include all parties - Riders, Paramedics, Police, etc.)</b>
        <div class="span6">{{ incident.responders }}</div>
      {% endif %}
      {% if incident.injuries %}
      <br>
       <b>If an injury is involved, please provide the following - name, age, phone, address, sex, relationship to event, and description</b>
        <div class="span6">{{ incident.injuries }}</div>
      {% endif %}
      {% if incident.first_aid %}
      <br>
       <b>If an injury is involved, was first aid administered? If so, by whom?</b>
        <div class="span6">{{ incident.first_aid }}</div>
      {% endif %}
      <br>
       <b>Description of follow up action</b>
        <div class="span6">{{ incident.follow_up }}</div>
    </div>
  </div>
</div>
</div>
{% endblock %}